* {
    --mainGreen: rgb(93,207,140);
    --plainWhite: rgb(255,255,255);
}

body {
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
    color: var(--plainWhite);
}

.AMhero {
    background-color: var(--mainGreen);
}

/* NAVBAR */

nav {
    display: flex;
    background-color: var(--mainGreen);
    margin: 0 10%;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: var(--plainWhite);
    font-size: 1.2rem;
    margin: 0 3%;
}

nav a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

#logo {
    margin: 0 12% 0 2%;
}

/* LANDING */

.AMLanding #subheader {
    margin: 4% 0 2% 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.1em;
}

.AMLanding {
    text-align: center;
    position: relative;
    background-color: var(--mainGreen);
    margin: 0;
}

.AMLanding #header {
    font-size: 3rem;
    font-weight: 300; 
    line-height: 3.5rem;
    width: 60%;
    margin: 0 auto;
}

.AMLanding button {
    border: 2px solid var(--plainWhite);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--plainWhite);
    color: var(--mainGreen);
    font-size: 1.2rem;
    padding: 0.6%;
    margin-top: 5%;
    width: 15%;
    border-radius: 1.2rem;
}

.AMLanding button:hover {
    background-color: var(--mainGreen);
    color: var(--plainWhite);
    border-color: var(--plainWhite);
}

.AMLanding #moreInfo {
    font-weight: 100;
    font-size: 1.2rem;
    margin-left: 2%;
}

.AMLanding #moreInfo a {
    text-decoration-color: var(--plainWhite);
    text-underline-position: under;
    color: white;
}

